﻿
@{
    ViewData["Title"] = "Home Page";


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>"welcome to gitlab Dev"</h1>

<h1>"Hi there"</h1>}